<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fragancias</title>
 <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <header>
    <nav>
      <a href="Layaout web.html">Inicio</a>
      <a href="Layaout web.html">Productos</a>
      <a href="Layaout web.html">Contacto</a>
      <button>Comprar</button>
    </nav>
  </header>
  <section class="fragancia">
    <h1>Fragancias que te Enamoran.</h1>
    <h3>Descubre nuestra colección variada de fragancias.</h3>
  </section>
  <section class="aroma">
    <div>
      <h2>Aroma 1</h2>
      <h4>Su olor dulce te enamorará.</h4>
    </div>
    <div>
      <h2>Aroma 2</h2>
      <h4>Su olor fresco te encantará.</h4>
    </div>
    <div>
      <h2>Aroma 3</h2>
      <h4>Su olor floral te encantará.</h4>
    </div>
  </section>
  <section class="productos">
    <h1>Nuestras Fragancias</h1>
    <div>
      <img src="/public/img/fragancia1.jpg" alt="Fragancia 1">
      <h3>Emporio Armani</h3>
      <h4>150$</h4>
    </div>
    <div>
      <img src="/public/img/fragancia2.jpg" alt="Fragancia 2">
      <h3>Dior Homme Eau de Toilette</h3>
      <h4>130$</h4>
    </div>
    <div>
      <img src="/public/img/fragancia3-.jpg" alt="Fragancia 3">
      <h3>Jean Paul Gaultier Le Male Elixir Parfum</h3>
      <h4>125$</h4>
    </div>
  </section>
  <section class="comprar">
    <button>Adquirir Ahora</button>
  </section>
  <footer>
    <h3>Contacto: fragancias@gmail.com</h3>
    <h3>Teléfono: 7218-9757</h3>
    <h2>Síguenos en:</h2>
    <a href="https://www.instagram.com/alexander_zx0o/" target="_blank">
      <i class="fab fa-instagram"></i> Instagram
    </a>
    <a href="https://www.facebook.com/esdras.hernandez.52438" target="_blank">
      <i class="fab fa-facebook"></i> Facebook
    </a>
  </footer>
  <script src="/public/js/script.js"></script>
</body>
</html>
